## Problem 1 
Given two integer numbers return their product. 
If the product is greater than 1000, then return their sum.

In [1]:
num_1 = 1000
num_2 = 500
product = 1100
if (product > 1000):
    print('Sum of those integer = ', num_1+num_2)
else:
    print('Their product is = ', product)

Sum of those integer =  1500

## problem 2
Given a range of the first 10 numbers, Iterate from the start number to the end number, 
and In each iteration
print the sum of the current number and previous number

In [2]:
sum = 0
for i in range(10):
    print(i)
    sum = sum + i
    print('Sum from the current number and previous number is = ', sum)

0
Sum from the current number and previous number is =  0
1
Sum from the current number and previous number is =  1
2
Sum from the current number and previous number is =  3
3
Sum from the current number and previous number is =  6
4
Sum from the current number and previous number is =  10
5
Sum from the current number and previous number is =  15
6
Sum from the current number and previous number is =  21
7
Sum from the current number and previous number is =  28
8
Sum from the current number and previous number is =  36
9
Sum from the current number and previous number is =  45

## Problem 3
Print First 10 natural numbers using while loop.

In [3]:
i = 1
n = 10
while(i <= n):
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

## Problem 4
Accept number from user and calculate the sum of all number from 1 to a given number

In [4]:
input_number = int(input('Enter an Entiger Number = '))
i = 1
sum = 0
for i in range(input_number):
    sum = sum + i

print('The sum of all number from 1 to your given number = ', sum)

Enter an Entiger Number = 10
The sum of all number from 1 to your given number =  45

## Problem 5
Given a list, iterate it, and display numbers divisible by five, 
and if you find a number greater than 150, stop the loop iteration.

In [5]:
list_num = [20, 33, 40, 54, 60, 70, 82, 88, 90, 122, 130, 142, 155]
for i in list_num:
    if i < 150:
        if (i % 5 == 0):
            print('Number is divided by 5 = ', i)
    else:
        print('Oh no this is gatter then 150')
        break

Number is divided by 5 =  20
Number is divided by 5 =  40
Number is divided by 5 =  60
Number is divided by 5 =  70
Number is divided by 5 =  90
Number is divided by 5 =  130
Oh no this is gatter then 150

## Problem 6
Reverse the following list using for loop

In [6]:
for i in reversed(list_num):
    print(i)

155
142
130
122
90
88
82
70
60
54
40
33
20

## Problem 7
'''Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function
For example: print('My', 'Name', 'Is', 'Tamim') will display MyNameIsJames
So use one of the formatting argument of print() to turn the output into My**Name**Is**Tamim

In [7]:
# Sample
print('My', 'Name', 'Is', 'Tamim')
# solution
arg = '**'
print('My'+arg+'Name'+arg+'Is'+arg+'James')

My Name Is Tamim
My**Name**Is**James

## Problem 8
Concatenate two lists index-wise

In [8]:
list_1 = ['Mahfuj:', 'faruk:']
list_2 = ['Anika', 'Shallu']
list_3 = [i + j for i, j in zip(list_1, list_2)]

print(list_3)

['Mahfuj:Anika', 'faruk:Shallu']

## Problem 9
Given a Python list of numbers. Turn every item of a list into its square

In [9]:
list_number = [10, 20, 25, 40, 15, 18, 30]
for i in list_number:
    list_number = i**2
    print(list_number)

100
400
625
1600
225
324
900

## Problem 10
Access value 20 from the following 
tuple -> aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [10]:
a_tuple = ("Orange", [10, 20, 30], (5, 15, 25))
# Access value 20
print(a_tuple[1][1])

20

All solution is here